# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.ipr
out
gen
.DS_Store
node_modules
.tmp
.sass-cache
builds/**/images/*
/Ex_Files_WPW_GGB.zip
/Ex_Files_WPW_GGB
/components/scripts/tagline.js
